# 프로젝트 루트에서
cat << 'EOF' > .gitignore
# Python
__pycache__/
*.py[cod]
*.so
.venv/
.env


# IDE
.idea/
.vscode/
*.swp

# Test
.pytest_cache/
.coverage
htmlcov/

# uv
.python-version
EOF

# data
audio_data/

# jupyter
jupyter/

# OS
.DS_Store